<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-success mr-2"
        (click)="onAddServer()">Add Server
      </button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="card"
        *ngFor="let element of serverElements">
        <div class="card-header">{{ element.name }}</div>
        <div class="card-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'" style="color: blue">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
